@{
    string path = Context.Request.Path;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a07e852713.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/patient_dashboard.css" rel="stylesheet">
@*     <link rel="stylesheet" href="~/Hallo_Doc.styles.css" asp-append-version="true" /> *@
    <style>
        .navbar {
            background-color: white !important;
        }
        .nav-link {
            color:black;
        }
        .nav-link.active {
            background-color: white !important;
            color: #17a2b8 !important;
            border-bottom: 2px solid #17a2b8 !important;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggler shadow pb-3 mb-2 bg-body">
            <div class="container-fluid flex-column">
                <ul class="navbar-nav flex-row w-100 justify-content-between">
                    <button class="navbar-toggler navbar-light nav-tog-btn px-0 mb-2 mt-5" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <li class="nav-item">
                        <img class="img-fluid m-2" src="./../images/logo.png" alt="" width="150" height="70">
                    </li>

                    <li class="nav-item navbar-right d-flex flex-row ml-auto mt-5 h-25">

                        <span class="dblock mt-2">Welcome <span class="fw-bold">@Model.UserName</span></span>

                        <a href="index.html" type="button" class="btn btn-outline-info mx-2 h-25 dblock">Logout</a>

                        <a href="index.html" type="button" class="btn btn-outline-info mx-2 dnone">
                            <i class="fa fa-right-from-bracket"></i>
                        </a>

                        <button type="button" class="btn btn-outline-info moon-img" onclick="myFunctions()">
                            <i class="fa fa-moon"></i>
                        </button>

                    </li>
                </ul>

                <hr class="border border-dark border-1 w-100 m-0 dblock">

                <div class="w-50 dash-nav offcanvas offcanvas-start mr-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-underline offcanvas-body">

                        <li class="nav-item mx-2 d-flex">
                            <a class="nav-link dashboard @(path.StartsWith("/PatientUser/Patient_dashboard") || path.EndsWith("CreateRequest")  ? "active" : "")" asp-controller="PatientUser" asp-action="Patient_dashboard">Dashboard</a>
                        </li>
                        
                        <li class="nav-item mx-2">
                            <a class="nav-link @(path.StartsWith("/PatientUser/Patient_profile") ? "active" : "")" asp-controller="PatientUser" asp-action="Patient_profile">Profile</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @RenderBody()


    <footer>
        <ul class="list-inline">

            <li class="list-inline-item"><a href="#" class="text-secondary">Terms of Conditions  |</a></li>
            <li class="list-inline-item"><a href="#" class="text-secondary">Privacy Policy</a></li>
        </ul>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>
