@model IEnumerable<Hallo_Doc.Entity.ViewModel.AdminDash>;
@{
    ViewData["Title"] = "_ToCloseTable";
}

<div class="card" id="toClose-table">
    
    <div class="card-body">
        <table class="table desktop-view">
            <thead class="table-light">
                <tr class="row">
                    <th class="col-2">Name</th>
                    <th class="col">Date Of Birth</th>
                    <th class="col">Requestor</th>
                    <th class="col">Requested Date</th>
                    <th class="col">Phone</th>
                    <th class="col-2">Address</th>
                    <th class="col">Notes</th>
                    <th class="col">Chat With</th>
                    <th class="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    string rows = "";
                    switch (request.RequestTypeId)
                    {
                        case 1:
                            rows = "bg-danger";
                            break;
                        case 2:
                            rows = "bg-success";
                            break;
                        case 3:
                            rows = "bg-warning";
                            break;
                        case 4:
                            rows = "bg-info";
                            break;
                        default:
                            rows = "";
                            break;
                    }
                    <tr class="row">
                        <td class="col-2 @rows text-white">@request.PatientName<button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>
                        <td class="col @rows text-white">@request.DOB</td>
                        <td class="col @rows text-white">@request.Requestor</td>
                        <td class="col @rows text-white">@request.RequestedDate</td>
                        <td class="col @rows text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-phone" aria-hidden="true"></i>@request.PatientMobile</button>(Patient)</td>
                        <td class="col-2 @rows text-white">@request.Address</td>
                        <td class="col @rows text-white">@request.Notes</td>
                        <td class="col @rows text-white"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button></td>
                        <td class="col @rows text-white">
                            <div class="dropdown">
                                <button class="btn btn-outline-light dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu" aria-labelledby="action">
                                    <a class="dropdown-item" asp-action="View_case" asp-controller="Admin" asp-route-requestId="@request.RequestId"><i class="fa fa-file-text" aria-hidden="true"></i> View Case</a>
                                    <a class="dropdown-item" asp-action="View_upload" asp-controller="Admin" asp-route-requestId="@request.RequestId"><i class="fa fa-cloud-upload" aria-hidden="true"></i> View Uploads</a>
                                    <a class="dropdown-item" asp-action="View_notes" asp-controller="Admin"><i class="fa fa-file-o" aria-hidden="true"></i> View Notes</a>
                                    <a class="dropdown-item" asp-action="Order" asp-controller="Admin" asp-route-requestId="@request.RequestId"><i class="fa fa-list-ul" aria-hidden="true"></i> Order</a>
                                    <a class="dropdown-item" asp-action="Close_case" asp-controller="Admin" asp-route-requestId="@request.RequestId"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Close Case</a>
                                    <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#clearCaseModel" onclick="Clearcaseid('@request.RequestId')"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Clear Case</button>
                                    <a class="dropdown-item" asp-action="Encounter" asp-controller="Admin" asp-route-requestId="@request.RequestId"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Encounter</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="accordion accordion-flush mobile-view lo-btn">
        @foreach (var request in Model)
        {
            <div class="accordion-item">
                <button style="padding-right: 0;" class="accordion-button collapsed bg-info-subtle"
                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                        aria-expanded="false" aria-controls="flush-collapseFive">

                    <div style="font-size: small;" class="row w-100">

                        <div class="col-4 p-0">
                            <p>@request.PatientName</p>
                        </div>
                        <div class="col-4"></div>
                        <div style="text-align: right;" class="col-4">
                            <div class="circle" style="background-color: green;"></div> Patient
                        </div>
                        <div class="col-6 p-0">
                            <p>@request.Address</p>
                        </div>
                        <div style="text-align: right;" class="col-6">
                            <span style="font-size: small;" type="button"
                                  class="btn btn-outline-info rounded-4">
                                Map
                                Location
                            </span>
                        </div>
                   </div>

                </button>

                <div id="flush-collapseFive" class="accordion-collapse collapse bg-info-subtle"
                     aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

                    <div style="text-align: right;" class="col-11">
                        <a style="font-size: small;" asp-action="View_case" asp-controller="Admin" asp-route-requestId="@request.RequestId" class="btn btn-outline-dark rounded-4">View Case</a>
                    </div>

                    <div class="accordion-body">
                        <div class="row mb-2">
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-solid fa-calendar-days border border-info rounded-circle p-1"></i>
                                Date of Birth: @request.DOB
                            </div>
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-solid fa-envelope border border-info rounded-circle p-1"></i>
                                Email: @request.Email
                            </div>
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-regular fa-file-lines border border-info rounded-circle p-1"></i>
                                Transfer Notes: @request.Notes
                            </div>
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-solid fa-calendar-days border border-info rounded-circle p-1"></i>
                                Date of Service: -
                            </div>
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-solid fa-user-doctor border border-info rounded-circle p-1"></i>
                                Physician: @request.ProviderName
                            </div>
                            <div class="col-12 px-0 pb-1">
                                <i class="fa-solid fa-location-crosshairs border border-info rounded-circle p-1"></i>
                                Region: @request.Region
                            </div>
                            <div class="col-6 px-0 pb-1 my-1">
                                <a style="font-size: x-small;" asp-action="Close_case" asp-controller="Admin" asp-route-requestId="@request.RequestId" class="btn btn-danger ml-1 py-1 border rounded-4 w-75">Close Case</a>
                            </div>
                            <div class="col-6 px-0 my-1">
                                <a style="font-size: x-small;" asp-action="View_notes" asp-controller="Admin" class="btn btn-success ml-1 py-1 border rounded-4 w-75">View Notes</a>
                            </div>
                            <div class="col-6 px-0 pb-1 my-1">
                                <a style="font-size: x-small;" asp-action="View_upload" asp-controller="Admin" asp-route-requestId="@request.RequestId" class="btn btn-success ml-1 py-1 border rounded-4 w-75">View Uploads</a>
                            </div>
                            <div class="col-6 px-0 my-1">
                                <a style="font-size: x-small;" asp-action="Encounter" asp-controller="Admin" asp-route-requestId="@request.RequestId" class="btn btn-success ml-1 py-1 border rounded-4 w-75">Encounter</a>
                            </div>
                            <div class="col-6 px-0 my-1">
                                <button style="font-size: x-small;" data-bs-toggle="modal" data-bs-target="#clearCaseModel" onclick="Clearcaseid('@request.RequestId')" type="button" class="btn btn-warning text-white ml-1 py-1 border rounded-4 w-75">Clear Case</button>
                            </div>
                            <div class="col-6 px-0 my-1">
                                <a style="font-size: x-small;" href="" type="button" class="btn btn-success ml-1 py-1 border rounded-4 w-75">Email</a>
                            </div>
                        </div>
                        Chat With: <button type="button" class="btn btn-outline-info"><i class="fa fa-user" aria-hidden="true"></i>Patient</button>
                        <button type="button" class="btn btn-outline-info"><i class="fa fa-user-md" aria-hidden="true"></i>Provider</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

