@model Hallo_Doc.Entity.ViewModel.CountStatusWiseRequest;
@{
    ViewData["Title"] = "Admin Dasboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<html>
<body class="bg-light">
    <div>
        @Html.Partial("_CancelCase")
        @Html.Partial("_AssignCase")
        @Html.Partial("_BlockCase")
        @Html.Partial("_TransferCase")
        @Html.Partial("_ClearCase")
        @Html.Partial("_SendAgreement")
        @Html.Partial("_RequestSupport")
        @Html.Partial("_SendLink")
    </div>
    <div class="container-fluid mt-3" style="width: 100%;">
       
            <div class="row justify-content-between">

            <button class="col-lg col-sm-3 col-3 btn btn-p m-2 py-3 rounded text-start btn6 " data-btn="New" data-id="1" style="background-color:#dae9ff; border-color:#0d6efd; color:#0d6efd;">
                <i class="fa fa-plus-circle me-2" aria-hidden="true"></i><b>New</b>
                <p class="h4">@Model.NewRequest</p>
            </button>
            <button class="col-lg col-sm-3 col-3 btn m-2 py-3 rounded text-start btn6" data-btn="Pending" data-id="2" style="background-color:#ddfaff; border-color:#0dcaf0; color:#0dcaf0;">
                <i class="fa fa-user me-2" aria-hidden="true"></i><b>Pending</b>
                <p class="h4">@Model.PendingRequest</p>
            </button>
            <button class="col-lg col-sm-3 col-3 btn m-2 py-3 rounded text-start btn6" data-btn="Active" data-id="3" style="background-color:#ccf7d6; border-color:#28a745; color:#28a745">
                <i class="fa fa-check-square-o me-2" aria-hidden="true"></i><b>Active</b>
                <p class="h4">@Model.ActiveRequest</p>
            </button>
            <button class="col-lg col-sm-3 col-3 btn m-2 py-3 rounded text-start btn6" data-btn="Conclude" data-id="4" style="background-color:rgb(245, 210, 248); border-color:rgb(201, 56, 214); color:rgb(201, 56, 214);">
                <i class="fa fa-clock-o me-2" aria-hidden="true"></i><b>Conclude</b>
                <p class="h4">@Model.ConcludeRequest</p>
            </button>
            <button class="col-lg col-sm-3 col-3 btn m-2 py-3 rounded text-start btn6" data-btn="ToClose" data-id="5" style="background-color:rgb(229, 229, 252); border-color:rgba(14, 14, 252, 0.822); color:rgba(14, 14, 252, 0.822);">
                <i class="fa fa-user-times me-2" aria-hidden="true"></i><b>ToClose</b>
                <p class="h4">@Model.ToCloseRequest</p>
            </button>
            <button class="col-lg col-sm-3 col-3 btn m-2 py-3 rounded text-start btn6" data-btn="Unpaid" data-id="6" style="background-color:rgba(242, 219, 255, 0.822); border-color:rgba(139, 5, 216, 0.822); color:rgba(139, 5, 216, 0.822);">
                <i class="fa fa-money me-2" aria-hidden="true"></i><b>Unpaid</b>
                <p class="h4">@Model.UnpaidRequest</p>
            </button>
            </div>
            <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
                <h3>Patients<span style="font-size:medium; color: navy;" id="cardName"></span></h3>
                <ul>
                    <li class="d-inline">
                    <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#sendLinkModel">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i><span class="dash-btn"> Send Link</span>
                        </button>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white" asp-action="CreateRequest" asp-controller="Admin" >
                        <i class="fa fa-edit" aria-hidden="true"></i><span class="dash-btn"> Create Requests</span>
                        </a>
                    </li>
                    <li class="d-inline">
                    <button type="button" class="btn btn-info text-white" onclick="Export(exportData)">
                        <i class="fa fa-mail-forward" aria-hidden="true"></i><span class="dash-btn"> Export</span>
                        </button>
                    </li>
                    <li class="d-inline">
                    <button type="button" class="btn btn-info text-white" onclick="Export('1,2,3,4,5,6,7,8,9,10,11')">
                        <i class="fa-solid fa-share-from-square"></i><span class="dash-btn"> Export All</span>
                        </button>
                    </li>
                    <li class="d-inline">
                    <button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#requestSupportModel">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i><span class="dash-btn"> Request DIY Support</span>
                        </button>
                    </li>
                </ul>
            </div>
        <div>
            <div class="search-nav bg-white p-2">
                <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                    <div class="row g-2">
                        <div class="form-group col-md-6 col-sm-12" style="display: inline-block;">
                            <input type="text" class="form-control" id="searchInput" placeholder="Search Patients" name="searchValue">
                        </div>
                        <div class="form-group col-md-6 col-sm-12" style="display: inline-block;">
                            <select class="form-select" id="SelectedRegion" name="RegionId" onchange="handleSearchClick()" asp-items="@(new SelectList(ViewBag.Region,"RegionId","Name"))">
                                <option value="">All Regions</option>

                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-6 col-sm-12" style="display: none;">
                        <select class="form-select pagesizeselect" onchange="handleSearchClick()" name="PageSize" id="pagesizedropdown">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                        </div>
                    </div>
                    <ul class="text-secondary requestType">
                        <li class="d-inline">
                            <button type="button" class="btn btn-outline-dark reqtype" data-id="-1">All</button>
                        </li>
                        <li class="d-inline">
                            <button type="button" class="me-2 bg-white border-0 reqtype" data-id="2">
                            <i class="circle" style="background-color: green;"></i> Patient
                            </button>
                        </li>
                        <li class="d-inline">
                            <button type="button" class="me-2 bg-white border-0 reqtype" data-id="3">
                            <i class="circle" style="background-color: orange;"></i> Family/Friend
                            </button>
                        </li>
                        <li class="d-inline">
                            <button type="button" class="me-2 bg-white border-0 reqtype" data-id="1">
                            <i class="circle" style="background-color: firebrick;"></i> Business
                            </button>
                        </li>
                        <li class="d-inline">
                            <button type="button" class="me-2 bg-white border-0 reqtype" data-id="4">
                            <i class="circle" style="background-color: dodgerblue;"></i> Concierge
                            </button>
                        </li>
                     
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="btnContent">  </div>

    <script>
        var statusidglobal = $(this).data("id");
        var btnnameglobal = $(this).data("btn");
        var exportData = '0';
        $(document).ready(function () {
            console.log("Document ready");
            exportData = '1';
            console.log(exportData);
            $.ajax({
                url: '/Admin/GetPartialView',
                method: 'GET',
                data: { btnName: 'New', statusId: 1 },
                success: function (data) {
                    $("#btnContent").html(data);
                },
                error: function () {
                    console.error('Error fetching default partial view.');
                }
            });
                    
                    $(document).on("click", ".btn", function () {
                btnnameglobal = $(this).data("btn");
                console.log("Button clicked: " + btnnameglobal);
                document.getElementById('cardName').innerText = "(" +btnnameglobal+ ")";
                statusidglobal = $(this).data("id");
                        if (statusidglobal == 1) { exportData = '1'; console.log("exportData:"+exportData) }
                if (statusidglobal == 2) { exportData = '2'; console.log("exportData:" + exportData) }
                if (statusidglobal == 3) { exportData = '4,5'; console.log("exportData:" + exportData) }
                if (statusidglobal == 4) { exportData = '6'; console.log("exportData:" + exportData) }
                if (statusidglobal == 5) { exportData = '3,7,8'; console.log("exportData:" + exportData) }
                if (statusidglobal == 6) { exportData = '9'; console.log("exportData:" + exportData) }

                        $.ajax({
                            url: '@Url.Action("GetPartialView", "Admin")',
                            
                            method: 'GET',
                    data: { btnName: btnnameglobal, statusid:statusidglobal },
                            success: function (data) {
                                console.log("AJAX success");
                        
                                $("#btnContent").html(data);
                                console.log("data added");
                            },
                            error: function () {
                                console.error('Error fetching partial view.');
                            }
                        });
                    });
            });
        var reqtypeElements = document.getElementsByClassName('reqtype');
        for (var i = 0; i < reqtypeElements.length; i++) {
            reqtypeElements[i].addEventListener('click', handleSearchClick);
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('searchInput').addEventListener('keyup', function (evt) {
                if (evt.key === 'Enter') {
                    evt.preventDefault();
                    handleSearchClick();
                }
            });
        });
        function handleSearchClick() {
            var searchValue = document.getElementById('searchInput').value;
            var region = $("#SelectedRegion").val();
            var requesttype = $(this).data("id");
            console.log(searchValue);
            console.log(statusidglobal);
            console.log(btnnameglobal);
            console.log("Region id: " + region);
            console.log("Request type id: " + requesttype);
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPartialView", "Admin")',
                data: { searchValue: searchValue, statusid: statusidglobal, btnName: btnnameglobal, Region: region, requesttype: requesttype },
                success: function (data) {
                    console.log("AJAX success");

                    $("#btnContent").html(data);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }

        var reqtypeElements = document.getElementsByClassName('reqtype');
        for (var i = 0; i < reqtypeElements.length; i++) {
            reqtypeElements[i].addEventListener('click', Export);
        }
       
        function Export(status) {
            var region = $("#SelectedRegion").val();
            var requesttype = $(this).data("id");
            console.log("Region id in export: " + region);
            console.log("Request type id in export: " + requesttype);
            console.log(status);
            $.ajax({
                method: "POST",
                url: "/Admin/Export",
                data: { status: status, Region: region, requesttype: requesttype },
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (result) {
                    var blob = new Blob([result], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'RequestData.xlsx';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(link.href);
                },
                error: function () {
                    console.log("error");
                }
            });
        }
    </script>
</body>
</html>