@model Hallo_Doc.Entity.ViewModel.CountStatusWiseRequest;
@{
    ViewData["Title"] = "Admin Dasboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body>
    <div>
        @Html.Partial("_CancelCase")
        @Html.Partial("_AssignCase")
        @Html.Partial("_BlockCase")
        @Html.Partial("_TransferCase")
        @Html.Partial("_ClearCase")
        @Html.Partial("_SendAgreement")
    </div>
    <div class="container-fluid mt-3" style="width: 100%;">
       
            <div class="row">

            <button class="col-lg col-3 btn btn-p m-2 py-3 rounded text-start" data-btn="New" data-id="1" style="background-color:#dae9ff; border-color:#0d6efd; color:#0d6efd;">
                <i class="fa fa-plus-circle me-2" aria-hidden="true"></i><b>New</b>
                <p class="h4">@Model.NewRequest</p>
            </button>
            <button class="col-lg col-3 btn m-2 py-3 rounded text-start" data-btn="Pending" data-id="2" style="background-color:#ddfaff; border-color:#0dcaf0; color:#0dcaf0;">
                <i class="fa fa-user me-2" aria-hidden="true"></i><b>Pending</b>
                <p class="h4">@Model.PendingRequest</p>
            </button>
            <button class="col-lg col-3 btn m-2 py-3 rounded text-start" data-btn="Active" data-id="3" style="background-color:#ccf7d6; border-color:#28a745; color:#28a745">
                <i class="fa fa-check-square-o me-2" aria-hidden="true"></i><b>Active</b>
                <p class="h4">@Model.ActiveRequest</p>
            </button>
            <button class="col-lg col-3 btn m-2 py-3 rounded text-start" data-btn="Conclude" data-id="4" style="background-color:rgb(245, 210, 248); border-color:rgb(201, 56, 214); color:rgb(201, 56, 214);">
                <i class="fa fa-clock-o me-2" aria-hidden="true"></i><b>Conclude</b>
                <p class="h4">@Model.ConcludeRequest</p>
            </button>
            <button class="col-lg col-3 btn m-2 py-3 rounded text-start" data-btn="ToClose" data-id="5" style="background-color:rgb(229, 229, 252); border-color:rgba(14, 14, 252, 0.822); color:rgba(14, 14, 252, 0.822);">
                <i class="fa fa-user-times me-2" aria-hidden="true"></i><b>ToClose</b>
                <p class="h4">@Model.ToCloseRequest</p>
            </button>
            <button class="col-lg col-3 btn m-2 py-3 rounded text-start" data-btn="Unpaid" data-id="6" style="background-color:rgba(242, 219, 255, 0.822); border-color:rgba(139, 5, 216, 0.822); color:rgba(139, 5, 216, 0.822);">
                <i class="fa fa-money me-2" aria-hidden="true"></i><b>Unpaid</b>
                <p class="h4">@Model.UnpaidRequest</p>
            </button>
            </div>
            <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
                <h3>Patients<span style="font-size:medium; color: navy;"> (New)</span></h3>
                <ul>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i><span class="dash-btn"> Send Link</span>
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                        <i class="fa fa-edit" aria-hidden="true"></i><span class="dash-btn"> Create Requests</span>
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                        <i class="fa fa-mail-forward" aria-hidden="true"></i><span class="dash-btn"> Export</span>
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                        <i class="fa fa-share-square-o" aria-hidden="true"></i><span class="dash-btn"> Export All</span>
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="btn btn-info text-white">
                        <i class="fa fa-heartbeat" aria-hidden="true"></i><span class="dash-btn"> Request DIY Support</span>
                        </a>
                    </li>
                </ul>
            </div>
        <div>
            <div class="search-nav">
            <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
                <div>
                    <div style="display: inline-block;">
                        <input type="text" class="form-control" id="searchInput" placeholder="Search Patients" name="searchValue">
                    </div>
                    <div style="display: inline-block;">
                    <select class="form-select" name="RegionId" asp-items="@(new SelectList(ViewBag.Region,"RegionId","Name"))">
                            <option value="">All Regions</option>
                           
                        </select>
                    </div>
                </div>
                <ul>
                    <li class="d-inline">
                        <button type="button" class="btn btn-outline-dark">All</button>
                    </li>
                    <li class="d-inline">
                        <div class="circle" style="background-color: green;"></div> Patient
                    </li>
                    <li class="d-inline">
                        <div class="circle" style="background-color: orange;"></div> Family/Friend
                    </li>
                    <li class="d-inline">
                        <div class="circle" style="background-color: firebrick;"></div> Business
                    </li>
                    <li class="d-inline">
                        <div class="circle" style="background-color: #0dcaf0"></div> Concierge
                    </li>
                    <li class="d-inline">
                        <div class="circle" style="background-color: rgba(139, 5, 216, 0.822);"></div> VIP
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    <div id="btnContent">  </div>

    <script>
        var statusidglobal = $(this).data("id");
        var btnnameglobal = $(this).data("btn");
        $(document).ready(function () {
            console.log("Document ready");

            $.ajax({
                url: '/Admin/GetPartialView',
                method: 'GET',
                data: { btnName: 'New', statusId: 1 },
                success: function (data) {
                 
                    $("#btnContent").html(data);
                },
                error: function () {
                    console.error('Error fetching default partial view.');
                }
            });
                    
                    $(document).on("click", ".btn", function () {
                btnnameglobal = $(this).data("btn");
                console.log("Button clicked: " + btnnameglobal);

                statusidglobal = $(this).data("id");
                        
                        $.ajax({
                            url: '@Url.Action("GetPartialView", "Admin")',
                            
                            method: 'GET',
                    data: { btnName: btnnameglobal, statusid:statusidglobal },
                            success: function (data) {
                                console.log("AJAX success");
                                
                                $("#btnContent").html(data);
                                console.log("data added");
                            },
                            error: function () {
                                console.error('Error fetching partial view.');
                            }
                        });
                    });
            });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('searchInput').addEventListener('keyup', function (evt) {
                if (evt.key === 'Enter') {
                    evt.preventDefault();
                    handleSearchClick();
                }
            });
        });
        function handleSearchClick() {
            var searchValue = document.getElementById('searchInput').value;
            console.log(searchValue);
            console.log(statusidglobal);
            console.log(btnnameglobal);
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPartialView", "Admin")',
                data: { searchValue: searchValue, statusid: statusidglobal, btnName: btnnameglobal },
                success: function (data) {
                    console.log("AJAX success");
                    $("#btnContent").html(data);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
    </script>

</body>