@model Hallo_Doc.Entity.ViewModel.Provider;
@{
    ViewData["Title"] = "Edit Physician Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="bg-light">

    <div class="container mt-5">
        <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
            <h4 style="font-weight:bold;">Edit Physician Account</h4>

            <a class="btn btn-outline-info out back" asp-action="ProviderMenu" asp-controller="Admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content">
            
                
                <div class="row">
                    <h6 class="mt-2">Account Information</h6>
                <form asp-controller="Provider" asp-action="EditPrAccount" method="post">
                    <input type="hidden" value="@Model.AdminName" name="AdminName" />
                    <input type="hidden" value="@Model.ProviderId" name="ProviderId" />
                    <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" id="userName" class="form-control" placeholder="UserName" value="@Model.UserName" disabled>
                            <label for="userName">User Name (MD.LastName.f)</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="Password" id="password" asp-for="Password" class="form-control" placeholder="Password" disabled>
                            <label for="password">Password</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <select class="form-select" id="role" name="RoleId" asp-for="RoleId" asp-items="@(new SelectList(ViewBag.Roles,"RoleId","Name"))" disabled>
                                <option value="">Select Roles</option>
                                <option value="@Model.RoleId"></option>
                            </select>
                            <label for="role">Role</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <select class="form-select" id="status" name="Status" asp-for="Status" disabled>
                                <option value="@Model.Status">@Model.Status</option>
                            </select>
                            <label for="status">Status</label>
                        </div>
                    </div>
                    <div class="g-2" style="text-align: right;">
                        <button type="button" class="btn btn-outline-info" id="resetbtn" onclick="editMode()">Reset Password</button>
                        <button type="button" id="sbtBtn" class="btn btn-info text-white" style="display: none;">Save Changes</button>
                        <button type="button" id="edtBtn1" onclick="editMode1()" class="btn btn-info text-white">Edit</button>
                        <button type="submit" id="sbtBtn1" class="btn btn-info text-white" style="display: none;">Save</button>
                        <button type="button" id="cancel" class="btn btn-danger text-white" style="display: none;">Cancel</button>  
                    </div>
                </form>
                </div>

                <div class="row">
                    <h6 class="mt-2">Administrator Information</h6>
                    <form asp-controller="Provider" asp-action="EditPrInfo" method="post">
                    <input type="hidden" value="@Model.AdminName" name="AdminName" />
                    <input type="hidden" value="@Model.ProviderId" name="ProviderId" />
                    <div class="row g-2">
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="FirstName" id="firstName" asp-for="FirstName" class="form-control" value="@Model.FirstName" placeholder="First name" disabled>
                            <label for="firstName">FirstName</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="LastName" id="lastName" asp-for="LastName" class="form-control" value="@Model.LastName" placeholder="Last name" disabled>
                            <label for="lastName">Lastname</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="email" name="Email" id="email" asp-for="Email" class="form-control" value="@Model.Email" placeholder="Email" disabled>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="tel" name="Mobile" id="mobile" asp-for="Mobile" class="form-control" value="@Model.Mobile" style="width: 260%;" disabled>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="MedicalLicense" id="mdLicense" asp-for="MedicalLicense" value="@Model.MedicalLicense" class="form-control" placeholder="MedicalLicense" disabled>
                            <label for="mdLicense">Medical License#</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="text" name="NPI" id="npi" asp-for="NPI" class="form-control" value="@Model.NPI" placeholder="NPI" disabled>
                            <label for="npi">NPI Number</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            <input type="email" name="SyncEmail" id="syncemail" asp-for="SyncEmail" class="form-control" value="@Model.SyncEmail" placeholder="SyncEmail" disabled>
                            <label for="syncemail">Synchronization Email Address</label>
                        </div>
                        <div class="form-group form-floating col-md-6 col-sm-12">
                            @foreach (var region in Model.Regions)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input mt-1" name="SelectRegion" type="checkbox" value="@region.RegionId" id="@($"Region_{region.RegionId}")" disabled>
                                    <label class="form-check-label" for="@($"Region_{region.RegionId}")">
                                        @region.Name
                                    </label>
                                </div>
                            }
                        </div>
                        </div>
                        <div class="g-2 mt-4 first" style="text-align: right;">
                            <button type="button" id=" " class="btn btn-info text-white">Enter Payrate</button>
                            <button type="button" id="edtBtn2" onclick="editMode2()" class="btn btn-info text-white">Edit</button>
                            <button type="submit" id="sbtBtn2" class="btn btn-success text-white" style="display: none;">Save</button>
                        </div>
                        </form>
                    </div>
                    <div class="row">
                        <h6 class="mt-2">Mailing & Billing Information</h6>
                        <form asp-controller="Provider" asp-action="EditPrBilling" method="post">
                    <input type="hidden" value="@Model.AdminName" name="AdminName" />
                    <input type="hidden" value="@Model.ProviderId" name="ProviderId" />
                        <div class="row g-2">
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="text" name="Address1" id="address1" asp-for="Address1" class="form-control" value="@Model.Address1" placeholder="Address1" disabled>
                                <label for="address1">Address1</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="text" name="Address2" id="address2" asp-for="Address2" class="form-control" value="@Model.Address2" placeholder="Address2" disabled>
                                <label for="address2">Address2</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="text" name="City" id="city" asp-for="City" class="form-control" value="@Model.City" placeholder="City" disabled>
                                <label for="city">City</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <select class="form-select" id="state" name="State" asp-for="StateId" disabled>
                                    <option value="@Model.StateId">@Model.StateId</option>
                                </select>
                                <label for="state">State</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="number" name="ZipCode" id="zipCode" asp-for="ZipCode" class="form-control" value="@Model.ZipCode" placeholder="ZipCode" disabled>
                                <label for="zipCode">ZipCode</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="tel" name="AltPhone" id="mobile2" asp-for="AltPhone" class="form-control" value="@Model.AltPhone" style="width: 260%;" disabled>
                            </div>
                        </div>
                        <div class="g-2 mt-4 first" style="text-align: right;">
                            <button type="button" id="edtBtn3" onclick="editMode3()" class="btn btn-info text-white">Edit</button>
                            <button type="submit" id="sbtBtn3" class="btn btn-success text-white" style="display: none;">Save</button>
                        </div>
                </form>
                    </div>
                    <div class="row">
                        <h6 class="mt-2">Provider Profile</h6>
                        <form asp-controller="Provider" asp-action="EditPrbusiness" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.AdminName" name="AdminName" />
                    <input type="hidden" value="@Model.ProviderId" name="ProviderId" />
                        <div class="row g-2">
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="text" name="BusinessName" id="businessName" asp-for="BusinessName" class="form-control" value="@Model.BusinessName" placeholder="BusinessName" disabled>
                                <label for="businessName">Business Name</label>
                            </div>
                            <div class="form-group form-floating col-md-6 col-sm-12">
                                <input type="text" name="BusinessWebsite" id="businessWebsite" asp-for="BusinessWebsite" class="form-control" value="@Model.BusinessWebsite" placeholder="BusinessWebsite" disabled>
                                <label for="businessWebsite">Business Website</label>
                            </div>
                            <div class="input-group col-md-6 col-sm-12">
                                <input type="file" asp-for="File" class="form-control" placeholder="Select Photo" id="file" disabled>
                                <button class="btn btn-info text-white" type="button" for="button-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z" />
                                    </svg> Upload
                                </button>
                            </div>
                            <div class="input-group col-lg-4 col-md-6 col-sm-12">
                                <input type="file" asp-for="FileSgn" class="form-control" placeholder="Select signature" id="sign" disabled>
                                <button class="btn btn-info text-white" type="button" for="button-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z" />
                                    </svg> Upload
                                </button>
                            </div>
                            <div class="form-group form-floating col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-info" id="create" disabled>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    Create
                                </button>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group form-floating mt-3">
                                    <input type="text" style="height: 150px;" class="form-control" id="notes" name="AdminNotes" asp-for="AdminNotes" value="@Model.AdminNotes" placeholder="Admin Notes" disabled>
                                    <label for="notes">Admin Notes</label>
                                </div>
                            </div>
                        </div>
                        <div class="g-2 mt-4 first" style="text-align: right;">
                            <button type="button" id="edtBtn4" onclick="editMode4()" class="btn btn-info text-white">Edit</button>
                            <button type="submit" id="sbtBtn4" class="btn btn-success text-white" style="display: none;">Save</button>
                        </div>
                </form>
                    </div>
                    <hr class="border border-dark border-1 m-0 mt-4 dblock" style="width:98%">
            <form asp-controller="Provider" asp-action="EditOnbording" method="post" enctype="multipart/form-data">
                <input type="hidden" value="@Model.AdminName" name="AdminName" />
                <input type="hidden" value="@Model.ProviderId" name="ProviderId" />
                    <div class="row">
                        <h6 class="mt-2">Onbording</h6>
                        
                        <table class="table table-borderless" style="width:100%">
                            <tbody>
                                <tr class=" mt-2">
                                    <td class="col-1" style="text-align:center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Agreement" name="IsAgreement" value="true" @(Model.IsAgreement ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td class="col">Independent Contractor Agreement</td>
                                    <td class="col">
                                        <div class="file btn btn-info text-white" style="position: relative; overflow: hidden;">
                                            Upload
                                            <input type="file" name="File" style="position: absolute; opacity: 0;" />
                                        </div>
                                    </td>
                                    <td class="col"><button type="button" class="btn btn-info text-white" id="ViewAgreement" style="display:none">View</button></td>
                                </tr>
                                <tr class=" mt-2">
                                    <td class="col-1" style="text-align:center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="Background" name="IsBackground" value="true" @(Model.IsBackground ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td class="col">Background Check</td>
                                    <td class="col">
                                        <div class="file btn btn-info text-white" style="position: relative; overflow: hidden;">
                                            Upload
                                            <input type="file" name="File" style="position: absolute; opacity: 0;" />
                                        </div>
                                    </td>
                                    <td class="col"><button type="button" class="btn btn-info text-white" id="ViewBackground" style="display:none">View</button></td>
                                </tr>
                                <tr class=" mt-2">
                                    <td class="col-1" style="text-align:center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="HIPAA" name="IsHIPAA" value="true" value="true" @(Model.IsHIPAA ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td class="col">HIPAA Compliance</td>
                                    <td class="col">
                                        <div class="file btn btn-info text-white" style="position: relative; overflow: hidden;">
                                            Upload
                                            <input type="file" name="File" style="position: absolute; opacity: 0;" />
                                        </div>
                                    </td>
                                    <td class="col"><button type="button" class="btn btn-info text-white" id="ViewHIPAA" style="display:none">View</button></td>
                                </tr>
                                <tr class=" mt-2">
                                    <td class="col-1" style="text-align:center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="NonDisclosure" name="IsNonDisclosure" value="true" @(Model.IsNonDisclosure ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td class="col">Non-disclosure Agreement</td>
                                    <td class="col">
                                        <div class="file btn btn-info text-white" style="position: relative; overflow: hidden;">
                                            Upload
                                            <input type="file" name="File" style="position: absolute; opacity: 0;" />
                                        </div>
                                    </td>
                                    <td class="col"><button type="button" class="btn btn-info text-white" id="ViewNonDisclosure" style="display:none">View</button></td>
                                </tr>
                                <tr class=" mt-2">
                                    <td class="col-1" style="text-align:center">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="License" name="IsLicense" value="true" @(Model.IsLicense ? "checked" : "")>
                                        </div>
                                    </td>
                                    <td class="col">License Document</td>
                                    <td class="col">
                                        <div class="file btn btn-info text-white" style="position: relative; overflow: hidden;">
                                            Upload
                                            <input type="file" name="File" style="position: absolute; opacity: 0;" />
                                        </div>
                                    </td>
                                    <td class="col"><button type="button" class="btn btn-info text-white" id="ViewLicense" style="display:none">View</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr class="border border-dark border-1 m-0 mt-2 dblock" style="width:98%">
                    <div class="g-2 mt-4 first" style="text-align: right;">
                        <button type="submit" id="submitButton" class="btn btn-info text-white">Save</button>
                </div>
            </form>
                <div class="g-2 mt-4 first" style="text-align: right;">
                    <form method="post" action="@Url.Action("DeleteAccount", "Provider", new {ProviderId = Model.ProviderId})">
                    <button type="submit" id="deleteButton" class="btn btn-danger text-white">Delete Account</button>
                    </form>
                </div>
            
                </div>       
        </div>
</body>
<script src="~/js/EditPhysician.js"></script>