@model Hallo_Doc.Entity.ViewModel.UserData;
@{
    ViewData["Title"] = "Patient History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="bg-light">
    <div class="flex-row d-flex mt-5 m-3">
        <h4 style="font-weight:bold;">Patient History</h4>
    </div>
    <div class="container-custom mt-3">
        <form method="post" id="userData"> 
            <div class="row g-2 m-2">
                <div class="form-group form-floating col-lg-3 col-md-6 col-sm-12">
                    <input type="text" asp-for="Firstname" id="firstname" class="form-control" placeholder="Firstname">
                    <label for="firstname">First Name</label>
                </div>
                <div class="form-group form-floating col-lg-3 col-md-6 col-sm-12">
                    <input type="text" asp-for="Lastname" id="lastname" class="form-control" placeholder="Lastname">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="form-group form-floating col-lg-3 col-md-6 col-sm-12">
                    <input type="text" asp-for="Email" id="email" class="form-control" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="form-group form-floating col-lg-3 col-md-6 col-sm-12">
                    <input type="text" asp-for="Mobile" id="phone" class="form-control" placeholder="Phone Number">
                    <label for="phone">Phone Number</label>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="m-2 shadow-none">
                    <a class="btn p-2 btn-outline-info text-info bg-white" id="clear" onclick="searchUser(event)">
                        Clear
                    </a>
                </div>
                <div class="m-2 shadow-none">
                    <a class="btn p-2 btn-info text-white" id="search" onclick="searchUser(event)">
                        Search
                    </a>
                </div>
            </div>
            <input type="hidden" asp-for="CurrentPage" id="CurrentPage" />
            <input type="hidden" asp-for="PageSize" id="PageSize" />
        </form>
        <div class="table-responsive">
            <table class="table table-hover mt-3" style="width:100%">
                <thead class="table-light">
                    <tr style="padding:10px;">
                        <th class="col-2">First Name</th>
                        <th class="col-2">Last Name</th>
                        <th class="col-2">Email</th>
                        <th class="col-2">Phone</th>
                        <th class="col-2">Address</th>
                        <th class="col-2" style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody id="patientRecord">
                   @foreach(var item in Model.data)
                    {
                        <tr class=" mt-2">
                            <td class="col-2">@item.Firstname</td>
                            <td class="col-2">@item.Lastname</td>
                            <td class="col-2">@item.Email</td>
                            <td class="col-2">@item.Mobile</td>
                            <td class="col-2">@item.Address</td>
                            <td class="col-2" style="text-align:center">
                                <a class="btn btn-outline-info btn-sm" asp-action="PatientRecord" asp-controller="AdminNavbar" asp-route-UserId="@item.Id">Explore</a>
                            </td>
                        </tr>
                    } 
                </tbody>
            </table>
      </div>
    </div>
    <nav aria-label="Page navigation example" class="pagenav flex-row d-flex justify-content-between">

        <div class="d-flex m-3">

            <select id="pageSize" class="form-select form-select-sm" onchange="changePageSize(event)">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>

        </div>
        <ul class="pagination pagination-container d-flex m-3" id="pagination">
            @{
                int i;

                if (Model.CurrentPage > 1)
                {
                    <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage - 1)">&lt;</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link">&lt;</a></li>
                }
                @for (i = 1; i <= Model.TotalPages; i++)
                {

                    <li class="page-item"><a href="#" data-page="@i" class="@(i == Model.CurrentPage ? "active" : "") page-link">@i</a></li>
                }
                if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage + 1)">&gt;</a></li>
                }
                else
                {
                    <li class="page-item disabled"><a class="page-link">&gt;</a></li>
                }
            }
        </ul>
    </nav>
</body>
<script>
    function searchUser(event) {
        var btnid = event.target.id;
        console.log(btnid);
        if (btnid == "clear") {
            $('#userData').trigger('reset');
            $('#CurrentPage').val(1);
        }
        if (btnid == "search") {
            $('#CurrentPage').val(1);
        }
        var formData = $('#userData').serialize();
        $.ajax({
            type: "POST",
            url: '@Url.Action("PatientHistory", "AdminNavbar")',
            data: formData,
            success: function (data) {
                var content = $(data).find('tbody').html();
                $('#patientRecord').html(content);
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });       
    }
    $(document).on('click', '.page-link', function (event) {
        var page = $(this).data('page');
        console.log(page);
        $('#CurrentPage').val(page);
        searchUser(event);

    });
    function changePageSize(event) {
        var selectedPageSize = event.target.value;
        $('#CurrentPage').val(1);
        $('#PageSize').val(selectedPageSize); // Add an input field for PageSize in the form
        searchUser(event);
    }
</script>