@model Hallo_Doc.Entity.ViewModel.ProviderMenu;
@{
    ViewData["Title"] = "Provider Menu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body class="bg-light" id="tableContent">
    <div>
        @Html.Partial("_ContactProvider")
    </div>
    <div class="container mt-5">
        <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
            <h4 style="font-weight:bold;">Provider Information</h4>

            <a class="btn btn-outline-info out back" asp-action="Admin_Dashboard" asp-controller="Admin">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content" >
            <div class="flex-row d-flex mt-2 mb-1 justify-content-between">
            <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <select class="form-select" id="SelectedRegion" name="RegionId" asp-items="@(new SelectList(ViewBag.Region,"RegionId","Name"))" onchange="searchProvider(event)">
                        <option value=" ">All Regions</option>
                    </select>
            </div>
                <div>
                    <a class="btn btn-info text-white" asp-action="CreateProvider" asp-controller="Provider">Create Provider Account</a>
                </div>
            </div>
            <table class="table table-hover" style="width:100%" >
                <thead class="table-light">
                    <tr style="padding:10px;">
                        <th class="col-1" style="text-align:center">Stop Notification</th>
                        <th class="col-3">Provider Name</th>
                        <th class="col-1">Role</th>
                        <th class="col-2" style="text-align:center">On Call Status</th>
                        <th class="col-2">Status</th>
                        <th class="col-3">Actions</th>
                    </tr>
                </thead>
                <tbody id="providerbody">
                    @foreach (var item in Model.data)
                        {
                        string status = "";
                        switch(item.Status)
                        {                         
                            case 2:
                                status = "Pending";
                                break;
                            
                            case 4:
                                status = "Active";
                                break;
                            case 5:
                                status = "Active";
                                break;
                            default:
                                status = "";
                                break;
                        }
                        <tr class=" mt-2">
                        <td class="col-1" style="text-align:center">
                            <div class="form-check">
                                    <input class="form-check-input" type="checkbox" onchange="toggleSaveButton(this)" @(item.IsNotificationStopped ? "checked" : "")>
                                    <input type="hidden" class="provider-id" value="@item?.ProviderId" />
                            </div>
                        </td>                           
                        <td class="col-3">  @item?.ProviderName</td>
                        <td class="col-1">@item?.RoleName</td>
                        <td class="col-2" style="text-align:center">UnAvailable</td>                 
                        <td class="col-2">@status</td>
                            <td class="col-3"><a class="btn btn-outline-info mr-1" data-bs-toggle="modal" data-bs-target="#contactProviderModel" onclick="ContactProviderid('@item?.ProviderName','@item?.Mobile','@item?.Email')">Contact</a><a class="btn btn-outline-info" asp-action="EditPhysician" asp-controller="Provider" asp-route-ProviderId="@item?.ProviderId">Edit</a><a id="saveButton_@item?.ProviderId" asp-action="StopNotification" asp-controller="AdminNavbar" asp-route-ProviderId="@item?.ProviderId" class="btn btn-info text-white ml-1" style="display:none">save</a></td>
                    </tr>
                  }  
                </tbody>
            </table>
        </div>
    </div> 
    <script>
        function toggleSaveButton(checkbox) {
            var providerId = checkbox.parentElement.parentElement.querySelector('.provider-id').value; 
            console.log("ProviderId:" + providerId);
            var saveButton = document.getElementById('saveButton_' + providerId);
            console.log(providerId);
            saveButton.style.display = checkbox.checked ? 'inline-block' : 'none'; 
        }
        function ContactProviderid(name, mobile, email) {
            var ProviderName = name;
            var Mobile = mobile;
            var Email = email;
            console.log(ProviderName);
            console.log(Mobile);
            console.log(Email);
            document.getElementById('ProviderName_Model').value = ProviderName;
            document.getElementById('Mobile_Model').value = Mobile;
            document.getElementById('Email_Model').value = Email;
        }

        function searchProvider(event) {
            var btnid = event.target.id;
            console.log(btnid);
           
            var region = $("#SelectedRegion").val();
            console.log("Region id: " + region);
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProviderMenu", "AdminNavbar")',
                data: { RegionId: region },
                success: function (data) {
                    console.log("AJAX success");
                    var bodyContent = $(data).find('tbody').html();
                    $('#providerbody').html(bodyContent);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
     
    </script>
</body>