@model Hallo_Doc.Entity.ViewModel.RequestedShift;
@{
    ViewData["Title"] = "Requested Shifts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body>
    <div class="container mt-5">
        <div class="flex-row d-flex mt-5 mb-3 justify-content-between">
            <h4 style="font-weight:bold;">Requested Shifts</h4>

            <a class="btn btn-outline-info out back" asp-action="Scheduling" asp-controller="AdminNavbar">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>
        </div>
        <div class="content">
            <div class="flex-row d-flex mt-3 mb-3 justify-content-between">
                <div class="form-group col-lg-4 col-md-6 col-sm-12">
                    <select class="form-select" id="SelectedRegion" name="RegionId" asp-items="@(new SelectList(ViewBag.Region,"RegionId","Name"))" onchange="getDatabyRegion()">
                        <option value="">All Regions</option>
                    </select>
                </div>
                <div class ="d-flex align-self-center">
                    <div class="mx-2">
                        <a class="btn text-white" asp-action="Scheduling" asp-controller="AdminNavbar" style="background-color: darkgreen;">
                            View Current Month Shift
                        </a>
                    </div>
                    <form asp-action="_ApprovedShifts" id="approvedform" asp-controller="AdminNavbar" class="mx-2">
                        <input type="hidden" id="approved" name="shiftids" />
                        <button type="submit" class="btn btn-success shadow" id="approvedbtn">
                            Approved Selected Shift
                        </button>
                    </form>
                    <form asp-action="_DeleteShifts" id="deletedform" asp-controller="AdminNavbar" class="mx-2">
                        <input type="hidden" id="deleted" name="shiftids" />
                        <button type="submit" class="btn btn-danger shadow" id="deletedbtn">
                            Delete Selected
                        </button>
                    </form>
                </div>
                        
                  
            </div>
            <table class="table table-hover" style="width:100%">
                <thead class="table-light">
                    <tr style="padding:10px;">
                        <th class="col-1" style="text-align:center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="topflexCheckDefault">
                            </div>
                        </th>
                        <th class="col-3">Staff</th>
                        <th class="col-3">Day</th>
                        <th class="col-3">Time</th>
                        <th class="col-2">Region</th>
                    </tr>
                </thead>
                <tbody id="shiftbody">
                     @foreach (var item in Model.data)
                        {
                    <tr class=" mt-2">
                        <td class="col-1" style="text-align:center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.ShiftId">
                                <input type="hidden" />
                            </div>
                        </td>
                        <td class="col-3">@item.PhysicianName</td>
                        <td class="col-3">@item.ShiftDate</td>
                        <td class="col-3">@item.ShiftTime</td>
                        <td class="col-2">@item.RegionName</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
     
        $(document).on('change', '.table tbody input[type="checkbox"]', function () {
            var checkedValues = [];
            $('.table tbody input[type="checkbox"]:checked').each(function () {
                checkedValues.push($(this).val());
            });
            $('#approved').val(checkedValues.join(','));
            $('#deleted').val(checkedValues.join(','));
            console.log($('#approved').val());
            console.log($('#deleted').val());
            var allChecked = $('.table tbody input[type="checkbox"]').length === $('.table tbody input[type="checkbox"]:checked').length;
            $('#topflexCheckDefault').prop('checked', allChecked);
        });
        $(document).on('change', '#topflexCheckDefault', function () {
            var checked = $(this).is(':checked');
            $('.table tbody input[type="checkbox"]').prop('checked', checked).change();
        });
    });

    function getDatabyRegion() {
        var region = $("#SelectedRegion").val();
        if (region == '-1') {
            region = null;
            location.reload();
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("RequestedShift", "AdminNavbar")?regionId=' + region,
            cache: false,
            success: function (response) {
                console.log(response);
                var bodyContent = $(response).find('tbody').html();
                $('#shiftbody').html(bodyContent);
            },
            error: function () {
                alert("Error while Loading data.");
            }
        });
    }
</script>