@using Hallo_Doc.Entity.ViewModel;
@model PaginationModel<PhysicianDash>;
@{
    ViewData["Title"] = "_PendingTable";
}
<table class="table desktop-view" id="new-table">
    <thead class="table-light">
        <tr class="row">
            <th class="col-2">Name</th>
            <th class="col-1"> </th>
            <th class="col-2">Phone</th>
            <th class="col-4">Address</th>
            <th class="col-2">Chat With</th>
            <th class="col-1">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.PhysicianDash)
        {
            string rows = "";
            var mobile = "";
            switch (request.RequestTypeId)
            {
                case 1:
                    rows = "#dc3545";
                    mobile = $"(Business)";
                    break;
                case 2:
                    rows = "#198754";
                    break;
                case 3:
                    rows = "orange;";
                    mobile = $"(Family/Friend)";
                    break;
                case 4:
                    rows = "dodgerblue;";
                    mobile = $"(Concierge)";
                    break;
                default:
                    rows = "";
                    mobile = "";
                    break;
            }
            <tr class="row">
                <td class="col-2 text-white" style="background-color: @rows;">@request.PatientName</td>
                <td class="col-1 text-white" style="background-color: @rows;"><button type="button" class="btn btn-outline-light"><i class="fa fa-envelope" aria-hidden="true"></i></button></td>

                <td class="col-2 text-white" style="background-color: @rows;">
                    <button type="button" class="btn btn-outline-light">
                        <i class="fa fa-phone me-2" aria-hidden="true"></i> @request.PatientMobile
                    </button><div>(Patient)</div>
                    @if (request.RequestTypeId == 1 || request.RequestTypeId == 3 || request.RequestTypeId == 4)
                    {
                        <button type="button" class="btn btn-outline-light">
                            <i class="fa fa-phone" aria-hidden="true"></i> @request.RequestorPhoneNumber
                        </button>

                        <div>@mobile</div>
                    }

                </td>
                <td class="col-4 text-white" style="background-color: @rows;">@request.Address</td>
                <td class="col-2 text-white" style="background-color: @rows;"><button type="button" class="btn btn-outline-light"><i class="fa fa-user-tie me-1" aria-hidden="true"></i>Admin</button></td>
                <td class="col-1 text-white" style="background-color: @rows;">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="action">
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#sendAgreementModel" onclick="SendAgreementid('@request.RequestId','@request.PatientMobile', '@request.Email')">
                                <i class="fa fa-file-text-o me-2" aria-hidden="true"></i> Send Agreement</button>
                            <a class="dropdown-item" asp-action="ViewCase" asp-controller="Physician" asp-route-requestId="@request.RequestId"><i class="fa-solid fa-file-lines me-2" aria-hidden="true"></i> View Case</a>
                            <a class="dropdown-item" asp-action="ViewUpload" asp-controller="Physician" asp-route-requestId="@request.RequestId"><i class="fa-solid fa-file-arrow-up me-2"></i> View Uploads</a>
                            <a class="dropdown-item" asp-action="ViewNotes" asp-controller="Physician" asp-route-RequestId="@request.RequestId"><i class="fa fa-file-o me-2" aria-hidden="true"></i> View Notes</a>
                            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#transferCaseModel" onclick="Transfercase('@request.RequestId')">
                                <i class="fa-solid fa-clipboard-check me-2"></i> Transfer
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="accordion accordion-flush mobile-view lo-btn" style="width: 100%;">
    @foreach (var request in Model.PhysicianDash)
    {
        
   
    <div class="accordion-item">
        <button style="padding-right: 0;" class="accordion-button collapsed bg-info-subtle"
                type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                aria-expanded="false" aria-controls="flush-collapseFive">

            <div style="font-size: small;" class="row w-100">

                <div class="col-4 p-0">
                    <p>@request.PatientName</p>
                </div>
                <div class="col-4"></div>
                <div style="text-align: right;" class="col-4">
                    <div class="circle" style="background-color: green;"></div> Patient
                </div>
                <div class="col-6 p-0">
                    <p>@request.Address</p>
                </div>
                <div style="text-align: right;" class="col-6">
                    <span style="font-size: small;" type="button"
                          class="btn btn-outline-info rounded-4">
                        Map
                        Location
                    </span>
                </div>
             

            </div>

        </button>

        <div id="flush-collapseFive" class="accordion-collapse collapse bg-info-subtle"
             aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

            <div style="text-align: right;" class="col-11">
                    <a style="font-size: small;" asp-action="ViewCase" asp-controller="Physician" asp-route-requestId="@request.RequestId" class="btn btn-outline-dark rounded-4">View Case</a>
            </div>

            <div class="accordion-body">
                <div class="row">

                    <div class="col-12 px-0 pb-1">
                        <i class="fa-solid fa-envelope border border-info rounded-circle p-1"></i>
                        Email: @request.Email
                    </div>
                        <div class="col-12 px-0 pb-1">
                            <i class="fa-solid fa-location-dot border border-info rounded-circle p-1"></i>
                            Address: @request.Address
                        </div>
                    <div class="col-12 px-0 pb-1">
                        <i class="fa-solid fa-phone border border-info rounded-circle p-1"></i>
                        Patient: @request.PatientMobile
                    </div>
                        <div class="col-6 px-0 my-1">
                            <button type="button" style="font-size: x-small;" data-bs-toggle="modal" data-bs-target="#sendAgreementModel" class="btn btn-warning text-white ml-1 py-1 border rounded-4 w-75" onclick="SendAgreementid('@request.RequestId','@request.PatientMobile', '@request.Email')">Send Agreement</button>
                        </div>
                    <div class="col-6 px-0 my-1">
                            <a style="font-size: x-small;" asp-action="ViewNotes" asp-controller="Physician" asp-route-RequestId="@request.RequestId" class="btn btn-success ml-1 py-1 border rounded-4 w-75">View Notes</a>
                    </div>
                    <div class="col-6 px-0 pb-1 my-1">
                            <a style="font-size: x-small;" class="btn btn-success ml-1 py-1 border rounded-4 w-75" asp-action="ViewUpload" asp-controller="Physician" asp-route-requestId="@request.RequestId">View Uploads</a>
                    </div>
                    <div class="col-6 px-0 my-1">
                        <a style="font-size: x-small;" href="" class="btn btn-success ml-1 py-1 border rounded-4 w-75">Email</a>
                    </div>
                        <div class="col-6 px-0 my-1">
                            Chat With:
                            <button type="button" class="btn btn-outline-info"><i class="fa fa-user me-1" aria-hidden="true"></i>Patient</button>
                            <button type="button" class="btn btn-outline-info"><i class="fa-solid fa-user-tie me-1"></i>Admin</button>
                        </div>
                </div>

            </div>
        </div>
    </div>
    }
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-container d-flex justify-content-end">
        @{
            int i;

            if (Model.CurrentPage > 1)
            {
                <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage - 1)">&lt;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">&lt;</a></li>
            }
            @for (i = 1; i <= Model.TotalPages; i++)
            {

                <li class="page-item"><a href="#" data-page="@i" class="@(i == Model.CurrentPage ? "active" : "") page-link">@i</a></li>
            }
            if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item"><a class="page-link" data-page="@(Model.CurrentPage + 1)">&gt;</a></li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">&gt;</a></li>
            }
        }
    </ul>
</nav>
<script>
    function SendAgreementid(id, patientmobile, email) {
        var RequestId = id;
        var PatientMobile = patientmobile;
        var Email = email;
        var Email_model = email;
        console.log(RequestId);
        console.log(PatientMobile);
        console.log(Email);
        console.log(Email_model);
        document.getElementById('RequestID_ModelSendAgreement').value = RequestId;
        document.getElementById('Email_ModelSendAgreement').value = Email_model;
        document.getElementById('phone').value = PatientMobile;
        document.getElementById('email').value = Email;
    }
    function Transfercase(id) {
        var RequestId = id;
        $('#transferCaseForm').trigger('reset');
        console.log(RequestId);
        document.getElementById('RequestID_ModelTransfer').value = RequestId;
    }
</script>