@model Hallo_Doc.Entity.ViewModel.TimesheetData;
@{
    ViewData["Title"] = "BiWeeklySheet";
    Layout = "~/Views/Shared/_PhysicianLayout.cshtml";
}
<body class="bg-light">

    <div style="padding-bottom: 9%;" class="container mb-3">
        <div class="flex-row d-flex py-3 mr-2 justify-content-end">

            <a class="btn btn-outline-info out back" asp-action="Invoicing" asp-controller="Physician">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg> Back
            </a>

        </div>

        <div class="row px-3">
            <input type="hidden" asp-for="startDate" value="@Model.startDate" id="startdate" />
            <input type="hidden" asp-for="endDate" value="@Model.endDate" id="endDate" />
            <div class="bg-white px-3 py-3 shadow mt-2 mb-3 bg-white rounded notdiv">
                <div class="table-responsive">
                <table class="table table-hover" style="width:100%">
                    <thead class="table-light">
                        <tr style="padding:10px;">
                            <th>Date</th>
                            <th>On-call Hours</th>
                            <th>Total Hours</th>
                            <th>Weekend/Holiday</th>
                            <th>Number of Housecalls</th>
                            <th>Number of Phone Consults</th>
                    </thead>
                    <tbody>
                         @for (var i = Model.startDate; i <= Model.endDate; i = i.AddDays(1))
                {
                                var item = (Model.TimeSheetInfo != null) ? Model.TimeSheetInfo.FirstOrDefault(id => id.Date == i) : null;
                            <tr class=" mt-2">
                                    <td scope="row">@i.ToString("dd/MM/yyyy")</td>
                                <td scope="row">0</td>
                                    <td scope="row"><input type="text" class="form-control" name="TotalHours" value="@(item != null && item.TotalHours !=null ? item.TotalHours : "")"></td>
                                <td scope="row" style="text-align:center">
                                    <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="IsWeekend" @(item != null && item.Holiday == true ? "checked" : "")>
                                    </div>
                                </td>
                                    <td scope="row"><input type="text" class="form-control" name="NoOfHousecall" value="@(item != null && item.NoOfHouseCall!=null ? item.NoOfHouseCall : "")"></td>
                                    <td scope="row"><input type="text" class="form-control" name="NoOfPhoneConsult" value="@(item != null && item.NoOfPhoneCall!=null ? item.NoOfPhoneCall : "")"></td>
                            </tr>   
                            }
                    </tbody>
                </table>
                </div>
                <div class="flex-row d-flex py-3 justify-content-end">

                    <button type="submit" onclick="submitform()" class="btn btn-info text-white">Submit</button>

                </div>
            </div>

        </div>
        <div class="flex-row d-flex justify-content-start">

            <button type="button" class="btn btn-info text-white" onclick="toggleReceiptsTable()">Add Receipts</button>

        </div>
        <div id="receiptsTable" class="bg-white px-3 py-3 shadow mt-4 mb-3 bg-white rounded notdiv" style="display:none">
          
            <div class="table-responsive">
                <table class="table table-hover" style="width:100%">
                    <thead class="table-light">
                        <tr style="padding:10px;">
                            <th>Date</th>
                            <th>Item</th>
                            <th>Amount</th>
                            <th>Bill</th>
                            <th>Action</th>
                    </thead>
                    <tbody>
                        @for (var i = Model.startDate; i <= Model.endDate; i = i.AddDays(1))
                        {
                            var item = (Model.TimeSheetInfo != null) ? Model.TimeSheetInfo.FirstOrDefault(id => id.Date == i) : null;
                            <tr class=" mt-2">
                                <td scope="row">@i.ToString("dd/MM/yyyy")</td>
                                <td scope="row"><input type="text" name="item" class="form-control" value="@(item != null && item.Item !=null ? item.Item : "")"></td>
                                <td scope="row"><input type="text" name="Amount" class="form-control" value="@(item != null && item.Amount!=null ? item.Amount : "")"></td>
                                @if (item != null && item.Bill != null)
                                {
                                    <td scope="row">@item.Bill</td>
                                    <td scope="row">
                                        <a class="btn btn-outline-info btn-sm">Edit</a>
                                        <a class="btn btn-outline-info btn-sm">Delete</a>
                                        <a class="btn btn-outline-info btn-sm" target="_blank" href="@Url.Action("ViewPdf", "Physician", new { fileName = item.Bill })">View</a>
                                    </td>
                                    
                                }
                                else
                                {
                                    <td scope="row">
                                        <div class="d-flex justify-content-between bg-light border border-secondary rounded" id="fileupload_@i">
                                            <input id="files_@i" type="file" class="d-none form-control doc_uploder" name="File">
                                            <button type="button" id="chooseFileButton_@i" class="col btn text-start text-secondary" onclick="document.getElementById('files_@i').click()">
                                                Select File
                                            </button>
                                            <button type="submit" class="btn btn-info text-white py-2" value="Upload" onclick="uploadFile('@i')">
                                                <i class="fa fa-cloud-upload"></i>
                                                <span class="dNone"> Upload </span>
                                            </button>
                                        </div>

                                    </td>

                                    <td scope="row">
                                        <div id="fileDisplay_@i" class="file-display" style="display:none"></div>
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-row d-flex justify-content-end">

            <a class="btn btn-info text-white" asp-action="FinalizeTimeSheet" asp-controller="Physician" asp-route-StartDate="@Model.startDate.ToString("dd/MM/yyyy")">Finalize</a>

        </div>

    </div>

</body>
<script>
    function toggleReceiptsTable() {
        var table = document.getElementById("receiptsTable");
        if (table.style.display === "none") {
            table.style.display = "block";
        } else {
            table.style.display = "none";
        }
    }
    function submitform() {
        let dateList = [];
        $('tbody tr').each(function () {
            let date = $(this).find('td:first').text(); // Get the date from the first column
            dateList.push(date); // Push the date into the dateList array
        });
        console.log(dateList);
        let TotalHoursList = [];
        $('input[name="TotalHours"]').each(function () {
            TotalHoursList.push($(this).val());
        });
        console.log(TotalHoursList);
        let IsWeekendList = [];
        $('input[name="IsWeekend"]').each(function () {
            IsWeekendList.push($(this).is(':checked'));
        });
        console.log(IsWeekendList);
        let NoofHousecallList = [];
        $('input[name="NoOfHousecall"]').each(function () {
            NoofHousecallList.push($(this).val());
        });
        console.log(NoofHousecallList);
        let NoofPhoneConsultList = [];
        $('input[name="NoOfPhoneConsult"]').each(function () {
            NoofPhoneConsultList.push($(this).val());
        });
        console.log(NoofPhoneConsultList);
        let itemsList = [];
        $('input[name="item"]').each(function () {
            itemsList.push($(this).val());
        });
        console.log(itemsList);
        let AmountList = [];
        $('input[name="Amount"]').each(function () {
            AmountList.push($(this).val());
        });
        console.log(AmountList);
        // let BillList = [];
        // $('.file-display').each(function () {
        //     BillList.push($(this).text());
        // });
        let BillList = [];
        $('.file-display').each(function () {
            let date = $(this).closest('tr').find('td:first').text(); // Get the date associated with the bill
            let index = dateList.indexOf(date); // Find the index of the date in your date list
            if (index !== -1) {
                BillList[index] = $(this).text();// Store the bill file name at the corresponding index
            }
        });

        console.log(BillList);
        var sendInfo = {
            startDate: $("#startdate").val(),
            endDate: $("#endDate").val(),
            TotalHours: TotalHoursList,
            IsWeekend: IsWeekendList,
            NoofHousecall: NoofHousecallList,
            NoofPhoneConsult: NoofPhoneConsultList,
            Amount: AmountList,
            Items: itemsList,
            Bills: BillList
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("TimeSheetPost", "Physician")',
            dataType: 'json',
            data: sendInfo,
            success: function (data) {
                console.log("AJAX success");
                location.reload();
            },
            error: function (error) {
                console.log("Error:", error);
            }
        });
    }

    function uploadFile(date) {
        let files = $(`#files_${date}`).prop('files');
        let formData = new FormData();
        formData.append("file", files[0]);
        formData.append("date", date);
        $.ajax({
            type: "POST",
            url: '/Physician/UploadReceipt',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("File uploaded successfully:", data);
                // Hide select file button and file input
                // $(`#chooseFileButton_${date}`).hide();
                $(`#fileupload_${date}`).hide();
                $(`#fileDisplay_${date}`).text(data.fileName).show();
            },
            error: function (error) {
                console.log("Error uploading file:", error);
            }
        });
    }


</script>