
@model Hallo_Doc.Entity.ViewModel.DashboardList;
@{
    ViewData["Title"] = "Patient_dashboard";
    Layout = "~/Views/Shared/_patientDashboardLayout.cshtml";
}

<body class="bg-light">

    <div class="container mt-5">
        <h3>Medical History</h3>
        <form asp-action="Patient_dashboard" asp-controller="PatientUser">
        <div class="content">
          
            <div class="d-flex justify-content-end" style="text-align: right;">
                    <button type="button" class="btn btn-outline-info mb-3" data-bs-toggle="modal" data-bs-target="#createReqModal">Create new Request</button>
            </div>
                <div class="modal fade" id="createReqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header text-white" style="background-color:#0dcaf0">
                                <h5 class="modal-title" id="exampleModalLongTitle">Create New Request</h5>
                                <a class="btn btn-info text-white close" data-bs-dismiss="modal" aria-label="Close" style="text-decoration:none;">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row">
                                Here, I want to create a new request for..
                                    </div>
                                    <div class="row">
                                        <div class="col" style="text-align:right;">
                                            <a class="btn btn-info text-white" asp-controller="PatientUser" asp-action="Submit_req_Me">Me</a>
                                        </div>
                                        <div class="col" style="text-align:left;">
                                            <a class="btn btn-outline-info" asp-controller="PatientUser" asp-action="Submit_req_Someone">Some One Else</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Continue</button>
                                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            <table style="width:100%">
                <thead class="thead-dark bg-light">
                    <tr class="row" style="padding:10px;">
                        <th class="col">Created Date</th>
                        <th class="col">Current status</th>
                        <th class="col">Chat With</th>
                        <th class="col">Document</th>
                    </tr>
                </thead>
                <tbody >
                    
                        @foreach (var item in Model.RequestWithFiles)
                        {
                            <tr class="row mt-2">
                                <td class="col"> @string.Format("{0:MMM dd, yyyy}", item.Request?.CreatedDate)</td>
                                <td class="col">@item.Request?.Status</td>
                                <td class="col">
                                    <button type="button" class="btn btn-outline-info mr-1" onclick="ChatWith('@item.Request.AspPhysicianId')"><i class="fa fa-user-md me-1" aria-hidden="true"></i>Provider</button>
                                    <button type="button" class="btn btn-outline-info" onclick="ChatWith('@item.Request.AspAdminId')"><i class="fa-solid fa-user-tie me-1"></i>Admin</button>
                                </td>
                                <td class="col">
                                    @if (item.HasFiles)
                                    {
                                        <a class="btn btn-outline-info out back" asp-controller="PatientUser" asp-action="View_document" asp-route-requestId="@item.Request?.RequestId">Document</a>
                                    }
                                    else
                                    {
                                        <p> - </p>
                                    }
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
           
        </div>
        </form>
    </div>
    <script>
        function darkMode() {
            var element = document.body;
            element.classList.toggle("darkMode");
        }
        function ChatWith(id) {
            console.log(id);
            $.ajax({
                url: "@Url.Action("GetChatView", "Admin")",
                method: "GET",
                data: { Id: id },
                success: function (data) {
                    console.log(data);
                    $('#partial').html(data);
                    const chatwith = new bootstrap.Offcanvas(document.getElementById("chatWithOption"), {});
                    chatwith.show();
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }
    </script>
</body>

